{{#each validaciones}}
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{{/each}}


<section class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Registrar Paciente - ClinicaBGA</h3>
        </div>
        <div class="card-body">
            <h3>Ingrese los datos del paciente</h3>
             <form action="/nuevo-paciente" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="tipoDocumento">Tipo de documento</label>
                        <select id="tipoDocumento" class="form-control" name="tipoDocumento">
                            <option>Cedula Ciudadania</option>
                            <option>Tarjeta de identidad</option>
                            <option>Cedula de extrangeria</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombrePac">Cedula del paciente</label>
                        <input type="text" class="form-control" id="nombrePac" name="cedula">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombrePac">Nombres del paciente</label>
                        <input type="text" class="form-control" id="nombrePac" name="nombrePaciente">
                    </div>
                        <div class="form-group col-md-6">
                            <label for="apellidoPac">Apellidos del paciente</label>
                            <input type="text" class="form-control" id="apellidoPac" name="apellidoPaciente">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="direccionPac">Direccion</label>
                        <input type="text" class="form-control" id="direccionPac" name="direccionPaciente">
                    </div>
                    <div class="form-group">
                        <label for="telefonoPac">Telefono</label>
                        <input type="text" class="form-control" id="telefonoPac" name="numeroPaciente">
                    </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ciudadPac">Ciudad</label>
                        <input type="text" class="form-control" id="ciudadPac" name="ciudadPaciente">
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="telefonoPac">Fecha de la consulta</label>
                        <input type="text" class="form-control" id="telefonoPac" name="date" placeholder="DD/MM/AAAA">
                    </div>
                    <div class="form-group">
                        <label for="historiaPac">Ingreso historia clinica</label>
                        <textarea class="form-control" id="historiaPac" rows="3" name="historiaClinica"></textarea>
                    </div>
                <button type="submit" class="btn btn-primary mt-4">Guardar</button>
            </form>
        </div>
    </div>
</section>

