body {
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-group {
    margin-top: 20px;
    margin-right: 35px;
}

.titulo-main {
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}

.lead {
    text-align: center;
}

#boton-borrar {
    float: right;
}

.logo {
    width: 25%;
}

